<body>
  <table>
    <thead>
      <tr>
        <th>Preview Component Examples</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <a href="/src/app/accordion/accordion.component.html">Accordion</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="/asssets/html/02-carousel.html">Carousel</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="/asssets/html/03-table.html">Table</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="/asssets/html/04-pagination.html">Pagination</a>
        </th>
      </tr>
      <tr>
        <th>
          <a href="asssets/html/05-hero.html">Hero</a>
        </th>
      </tr>
      <tr>
        <th>
          <button class="btn" id="loadFileButton">Load File</button>
          <button class="btn2" id="copyButton" style="display: none">
            Copy File Content
          </button>
        </th>
      </tr>
      <tr>
        <th>
          <a href="#">More...</a>
        </th>
      </tr>
    </tbody>
  </table>
  <div id="fileContent" style="display: none">
    <!-- File content will be copied here buy not discplayed -->
  </div>
  <script src="/asssets/js/main.js"></script>
</body>
